<div class= "container">
    <h2 class= "page_title">マイページ</h2>

  <div class="row">
    <table class="table table-bordered col-6 offset-1">

        <tr>
          <th>お名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>〒<%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
    </table>

    <div class="col-5">
      <p><%= link_to "会員情報を編集する",edit_customer_path(@customer.id), class: "btn btn-outline-success" %></p>
      <!--<p>%= link_to "お気に入り一覧をみる" %></p>-->
      <p>
        <%= link_to "注文履歴を確認する",  orders_path, class: "btn btn-outline-primary" %><br>
        <small>※商品のご返却は注文履歴からお願いいたします。</small>
      </p>
      <p>
       <%= link_to "お気に入り一覧を見る", bookmarks_path(@customer.id), class: "btn btn-outline-warning" %>
      </p>

    </div>
  </div>
    <!--リクエストの送信-->
    <%= render 'public/requests/new_requests', request: @request %>

</div><!--conteiner-->