<div class= "container">
    <h2 class= "page_title">支払い/期間選択</h2>

    <div class= "justify-content-center">
      <%= form_with(model: @order, url: order_comfirm_path, local: true) do |f| %>
        <%= f.label :time_select, "レンタル期間" %><span> 必須</span><br>
        <%= f.select :time_select, [*(1..3)], {selected: 1} %>　週間<br>
        <%= f.label :pay_method, "支払い方法" %> <span> 必須</span><br>
        <%= f.select:pay_method,Order.pay_methods.keys.to_a %><br>
        <%= f.submit "注文内容の確認へ進む",class: "btn btn-outline-primary" %>
      <% end %>
    </div>
</div><!--conteiner-->