<div class= "container">
  <h2 class= "page_title">商品一覧</h2>

  <!------検索欄----------------------------------------------------------------------------- -->
  <%= search_form_for @search do |f| %>
    <div class="d-flex my-5">
      <!--検索対象のカラム+_cont-->
      <%= f.search_field :item_name_cont, class: "form-control", placeholder: "商品名" %>
      <%= f.submit "検索" %>
    </div>
  <% end %>



  <!--一覧表示/検索結果の表示--------------------------------------------->
  <div class = "row">
    <div class="card-deck">

      <% if @results.any? %>
        <% @results.each do |result| %>
          <div class="col-lg-3 .col-sm-6 my-2">
            <div class="card h-100">

                <!--画像、商品名/商品詳細リンク-->
                <%= link_to item_path(result) do %>
                    <div class="img_wrap"><%= image_tag result.image.to_s,:size =>'220X180' %></div>
                    <h5 class="card-title"><%= result.item_name %></h5>
                <% end %>
                <!--その他項目-->
                <div class="card-body">
                    <p>サイズ：<%= result.item_sieze %></p>
                    <p class="card-text">7日間 <%= result.item_price %>円～</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">残り<%= result.item_stock %>セット</small>
                </div>

            </div>
          </div>
        <% end %><!--eachの閉じタグ-->
      <% end %><!--if @results.any?の閉じタグ-->
     <!-------------------------------------------------------------------------------------->

    </div><!--card-deck-->
  </div><!--row-->
  <%= paginate @results %>
</div><!--conteiner-->
