<div class= "container">
    <h2 class= "page_title">商品詳細</h2>
  　<p class="mb-3"><%=link_to "商品一覧へ戻る",items_path,class:"btn btn-outline-info" %></p>

   <div class="row">
     <!--画像の表示-->
     <div class="col-sm-12 col-md-12 col-lg-6">
       <%= image_tag (@item.image.to_s) %>
     </div>
     <!--商品詳細説明欄-->
     <div class="card col-sm-12 col-md-12 col-lg-6" style="width: 18rem; height:36rem;">
          <div class="card-body">
            <h5 class="card-title"><%= @item.item_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted">サイズ：<%= @item.item_sieze %></h6>
            <p class="card-text mt-3"><%= @item.introduction %></p>
            <p>単価　<%= @item.item_price %>円（１セット/週）</p>
            <p>残り　<%= @item.item_stock %>　セット</p>

  　　   　　  <!--在庫が０なら、メッセージ。そうでない場合は、個数選択欄とカートボタンを表示---->
            <% if @item.item_stock == 0 %>
              <div class="out_stock">
                <p>申し訳ございません。</p>
                <p>こちらの商品は現在すべて貸出中のため、</p>
                <p>用意することが出来ません。</p>
              </div>
            <% else %>
                <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
    						<p>数量を選択して下さい。</p>
    						<!--submitを押した時、個数と同時に商品IDも一緒に送信する-->
    						<%= f.hidden_field :id, :value => @item.id%>
    						<%= f.select :quantity, [*(1...@item.item_stock)], {selected: 1} %>
    						<%= f.submit "カートに入れる", class: "btn btn-primary" %>
    					<% end %>
  					<% end %>
        </div><!--card-body-->
     </div><!--card-->
   </div><!--row-->
</div><!--conteiner-->
